[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/linmath.h"]
	path = external/linmath.h
	url = https://github.com/datenwolf/linmath.h
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
